<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223858097045-agklpguvsoi1dadvdi0q3omt1gdd9ch5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223858097045-agklpguvsoi1dadvdi0q3omt1gdd9ch5</string>
	<key>API_KEY</key>
	<string>AIzaSyB5WDVCzOG9OhXFBocFiEgCdWQixe-OtMo</string>
	<key>GCM_SENDER_ID</key>
	<string>223858097045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kejarForParents</string>
	<key>PROJECT_ID</key>
	<string>kejar-for-parents</string>
	<key>STORAGE_BUCKET</key>
	<string>kejar-for-parents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223858097045:ios:461a8e18de9e82dfd3949c</string>
</dict>
</plist>